@model OnlineJewellShop.Entity.Product
@{
    ViewBag.Title = "EditProduct";
}

<h2>Update Product</h2>



@using (Html.BeginForm("EditProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <table>
        @Html.HiddenFor(Model => Model.ProductId)
        <tr>
            <td>
                @Html.LabelFor(Model => Model.ProductName)

            </td>
            <td>
                @Html.TextBoxFor(Model => Model.ProductName, new { maxlength = "25" })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ProductRate)

            </td>
            <td>
                @Html.TextBoxFor(Model => Model.ProductRate)
                @Html.ValidationMessageFor(model => model.ProductRate, "", new { @class = "danger",@maxlength=8 })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ProductCatogeries)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ProductCatogeryId, (IEnumerable<SelectListItem>)ViewBag.ProductCategories, "select category")
                @Html.ValidationMessageFor(model => model.ProductCatogeryId, "", new { @class = "danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Image")
            </td>
            <td>
                <img class="image" src="~/ProductImages/@Html.DisplayFor(Model=>Model.ProductImagePath)" />
                <input type="file" id="image" name="ImageUpload" accept="image/png,image/jpg,image/jpeg" />
            </td>
        </tr>


        <tr>
            <td>

                <input type="submit" />
            </td>
        </tr>
    </table>
    <div>
        @if (ViewBag.EditImage != null)
        {
            <script type="text/javascript">

                      window.onload = function () {
                        alert("@ViewBag.EditImage");
                       };
            </script>

        }

    </div>

}

