@model OnlineJewellShop.Entity.User
@{
    ViewBag.Title = "Profile";
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{

    @Html.HiddenFor(Model => Model.UserID)

    @Html.HiddenFor(Model => Model.Role)
<main id="main-holder">

    <div style="padding-top:2%"><center><img style="width:30%" src="~/Images/profile-user.png" /></center></div>
    <div id="login-header" class="LoginFont">Profile</div>
    <center>
        <table>
            <tr>
                <td>

                    @Html.LabelFor(Model => Model.MailId)

                </td>
                <td>
                    @Html.EditorFor(Model => Model.MailId)
                </td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(Model => Model.PhoneNumber)

                </td>
                <td>
                    @Html.EditorFor(Model => Model.PhoneNumber)
                </td>
            </tr>
            <tr>
                <td>

                    @Html.Label("Change Password")
                </td>
                <td>
                    @Html.EditorFor(Model => Model.Password)
                </td>
            </tr>

        </table>
    </center>
    <br />
    <input type="submit" value="Save" runat="server" id="login-form-submits" />
    @Html.AntiForgeryToken()

</main>
    <div>
    @if (ViewBag.PasswordChange != null)
    {
        <script type="text/javascript">

                      window.onload = function () {
                        alert("@ViewBag.PasswordChange");
                       };
        </script>

    }
    </div>
}
