@model OnlineJewellShop.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    
    <main id="main-holder">
       <div id="login-header" class="LoginFont">Login</div>
        <form id="login-form">
            @Html.TextBoxFor(Model => Model.MailId, new { @class= "login-form-field", @placeHolder = "Mail id" })
            @Html.ValidationMessageFor(model => model.MailId, "", new { @class = "danger" })<br />

            @Html.PasswordFor(Model => Model.Password, new {@class= "login-form-field",@placeHolder ="Password" })
            @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "danger" })
            <div style="color:red">
                @if (ViewBag.message != null)
                {
                    @ViewBag.message
                }
            </div>
       
            <input type="submit" value="Login" runat="server" id="login-form-submit"/>
            @Html.AntiForgeryToken()
        </form>

  </main>
    }

