@model OnlineJewellShop.Entity.Product
@{
    ViewBag.Title = "DeleteProduct";
}

<h2>DeleteProduct</h2>
@using (Html.BeginForm("DeleteProduct", "JewellaryShopping"))
{
<table>
    @Html.HiddenFor(Model=>Model.ProductNumber)
    <tr>
        <td>
            @Html.LabelFor(Model => Model.ProductNumber)
        </td>
        <td>
            @Html.ValueFor(Model => Model.ProductNumber)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(Model => Model.ProductName)
        </td>
        <td>
            @Html.ValueFor(Model => Model.ProductName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(Model => Model.ProductRate)
        </td>
        <td>
            @Html.ValueFor(Model => Model.ProductRate)
        </td>
    </tr>
    <tr>
       <td><input type="submit" value="Confirm Delete" /></td> 
    </tr>
</table>
}
