@model OnlineJewellShop.Entity.Product
@{
    ViewBag.Title = "EditProduct";
}

<h2>EditProduct</h2>
@using (Html.BeginForm("EditProduct", "JewellaryShopping"))
{
    @Html.HiddenFor(Model=>Model.ProductNumber)
    <table>
        <tr>
            <td>@Html.LabelFor(Model=>Model.ProductNumber)</td>
            <td>@Html.ValueFor(Model=>Model.ProductNumber)</td>
        </tr>
        <tr>
            <td>
               @Html.LabelFor(model=>model.ProductName)
            </td>
            <td>@Html.EditorFor(Model=>Model.ProductName)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model=>Model.ProductRate)</td>
            <td>
                @Html.EditorFor(Model=>Model.ProductRate)
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="update" runat="server" /></td>
        </tr>
    </table>
}
