@model OnlineJewellShop.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "JewellaryShopping", FormMethod.Post))
{
    <table cellpadding="10">
        <tr>
            <td>@Html.Label("User Id")</td>
            <td>
                @Html.TextBoxFor(Model => Model.UserID ,new { @id = "UserId" })
                @Html.ValidationMessageFor(model => model.UserID)
            </td>
        </tr>
        <tr>
            <td>@Html.Label("Password")</td>
            <td>@Html.TextBoxFor(Model => Model.Password,new { @id = "password" }) @Html.ValidationMessageFor(Model => Model.Password)</td>
           
        </tr>
        <tr><td><input type="submit" runat="server" /></td></tr>

    </table>
}


