@model IEnumerable<OnlineJewellShop.Entity.OrderDetail>
@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Checkout Complete</h2>
<div class="containers">
    <div class="rows" style="margin-bottom:100px">
        
        <h3 class="colors"> Hi @Model.FirstOrDefault().Order.Username Your Order details</h3>
        <h3 class="colors">Products</h3>
        @foreach (OnlineJewellShop.Entity.OrderDetail product in Model)
        {
            product.Product.ProductImagePath = Path.Combine("~/ProductImages/", product.Product.ProductImagePath);
            <div class="col-lg-4 col-md-4 " style="height:200px;margin-top:20px;padding-bottom:10px;padding-left:4px">
                <img style="width:30%;height:80%;border-radius:10px 10px 10px 10px" src="@Url.Content(product.Product.ProductImagePath)" />
                <h3 class="colors" style="margin-bottom:4px">@product.Product.ProductName</h3>
                <h3 class="colors" style="margin-top:2px">Rs.@product.Product.ProductRate</h3>

            </div>
        }
        

    <div class="col-lg-4 col-md-4 " style="height:200px;margin-top:50px;padding-bottom:10px;padding-left:4px">
        <h3 class="colors">Grand Total:</h3><h3 class="colors">@Model.FirstOrDefault().Order.Total</h3>
        <h3 class="colors">
            Enjoy Shopping in SM<br />
            Want to see Other Collections??
        </h3><h3 class="btn btn-danger" style="margin-top:1px">
            @Html.ActionLink("Click Here!!", "ViewProductCategory", "User")
        </h3>
        <h3 class="btn btn-danger" style="margin-top:1px">
             @Html.ActionLink("Payment", "Payment")
        </h3>
    </div>

    </div>
    </div>
