@model OnlineJewellShop.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}
<script src="/Scripts/jquery-1.4.4.min.js"
        type="text/javascript"></script>
@*<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", {"id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>*@
<h3>
    <em>Review</em> your cart:
</h3>

   
<div class="containers">
    <div class="rows" style="margin-bottom:100px">
        <div>
            @if (ViewBag.Total != null)
            {
            <h1>@ViewBag.Total</h1> 
            }
            else
            {

                foreach (var item in Model.CartItems)
                {

                    item.Product.ProductImagePath = Path.Combine("~/ProductImages/", item.Product.ProductImagePath);
                    <div class="col-lg-4 col-md-4 Contains ">
                        <img class="ProductImage" src="@Url.Content(item.Product.ProductImagePath)" /><br />

                        <h3>@Html.ActionLink(item.Product.ProductName, "ViewProduct", new { id = item.ProductId }, null)</h3>
                        <h3 class="ProductDetailsfont">Rs. @item.Product.ProductRate and count= @item.Count</h3>

                        <h2 class="btn btn-danger Symbol">@Html.ActionLink("Add", "AddToCart", new { id = item.ProductId })</h2>
                        <h2 class="btn btn-danger  Symbol"> @Html.ActionLink("Remove", "RemoveFromCart", new { id = item.ProductId })</h2>
                    </div>
                }





                <div class="col-lg-4 col-md-4 Contains ">
                    <h3 class="ProductDetailsfont">  Total</h3>
                    <h3 class="ProductDetailsfont"> @Model.CartTotal</h3>
                    <h3 class="btn btn-danger Symbol">@Html.ActionLink("Checkout", "AddressAndPayment")</h3>
                </div>
            }
        </div>

        
    </div>
   </div>



