@*@model OnlineJewellShop.Models.PaymentModel
@{
    ViewBag.Title = "Address And Payment";
}
<h2>Shipping details</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
        type="text/javascript"></script>
@using(Html.BeginForm("PaymentDetails", "Cart", FormMethod.Post)){
    <table>
        
        <tr>
          
            <td>
                @Html.LabelFor(Model => Model.CardHolderName)

            </td>
            <td>
                @Html.TextBoxFor(Model => Model.CardHolderName)
                @Html.ValidationMessageFor(model => model.CardHolderName, "", new { @class = "danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CardNumber)

            </td>
            <td>
                @Html.TextBoxFor(Model => Model.CardNumber)
                @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Cvv)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Cvv)
                @Html.ValidationMessageFor(model => model.Cvv, "", new { @class = "danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Enter the amount")
            </td>
            <td>
                @Html.TextBoxFor(model=>model.Total)
                @Html.ValidationMessageFor(model => model.Cvv, "", new { @class = "danger" })
            </td>

        </tr>


        <tr>
            <td>

                <input type="submit" />
            </td>
        </tr>
    </table>
}*@